body {
    background-image: url('../imagenes/fondo12.png'); /*ruta a la imagen de fondo*/
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.barra-de-navegacion{ /*estilos para la barra de navegación*/
    position: fixed; /*fija la barra en la parte superior*/
    top: 0; /*posiciona la barra en la parte superior*/
    width: 100%; /*ancho completo de la barra*/
    height: 20px;
}

nav{
    display: flex; /*utiliza flexbox para el diseño*/
    justify-content: flex-end; /*alinea los elementos al final del contenedor*/
    align-items: center; /*alinea los elementos verticalmente al centro*/
    padding: 10px 20px; /*espaciado interno del nav*/
    background-color: rgba(0, 0, 0, 0.247); /*fondo semitransparente para el nav*/
    gap: 50px; /*espacio entre los elementos del nav*/
}

/* BLOOM logo navegador */

.logo-menu{ /*estilos para la clase "logo-menu" - controla la posición del logo*/
    margin-right: auto; /*empuja el logo hacia la izquierda*/
      width: 200px; /*ancho del logo*/
    height: auto; /*alto automático para mantener la proporción*/
}
/* Barra imagen de menu */


.menu{ /*estilos para la clase "menu" - controla la posición y forma general de toda la lista de palabras*/
    list-style-type: none; /*elimina los puntos de la lista*/
    margin: 0; /*elimina el margen*/
    padding: 0; /*elimina el relleno*/
    display: flex; /*utiliza flexbox para el diseño*/
    gap: 20px; /*espacio entre los elementos de la lista*/
}

.menu a{ /*estilos para los enlaces dentro de la clase "menu" - controla el estilo del texto de los enlaces*/
    font-family:sans-serif; /*fuente del texto*/
    font-size: 15px; /*tamaño del texto*/
    text-decoration: none; /*elimina el subrayado de los enlaces*/
    color: white; /*color del texto de los enlaces*/
}

.menu-iconos{ /*estilos para la clase "menu-iconos - controla cómo se acomodan las imágenes entre sí"*/
    list-style-type: none; /*elimina los puntos de la lista*/
    margin: 0; /*elimina el margen*/
    padding: 0; /*elimina el relleno*/
    display: flex; /*utiliza flexbox para el diseño*/
    gap: 15px; /*espacio entre los elementos de la lista*/
}
 
.menu-iconos img{ /*estilos para las imágenes dentro de la clase "menu-iconos" - controla el tamaño y detalles de las imágenes en sí*/
    width: 23px; /*ancho de la imagen*/
    height: 23px; /*alto de la imagen*/
}

/* Estilos para la sección de inicio */

.inicio {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.musica {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 400px;
    height: auto;
}

.bloom {
    width: 300px;
    height: auto;
}

.mensaje-inicial {
    margin-top: 50px;
    background-color: rgba(90, 90, 90, 0.363);
    border-radius: 10px;
    padding: 20px 40px;
    width: 40%;
    margin-left: 750px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.mensaje-inicial h3 {
    font-size: 30px;
    margin-top: 10px;
}

.mensaje-inicial p {
    font-size: 25px;
    margin-top: 12px;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}

.opciones div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.opciones img {
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.opciones a {
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

.fila-uno {
    margin-right: 350px;
}

.info-imagen {
    display: flex;
    padding: 10% 0%;
    align-items: center;
}

.info-imagen img {
    width: 500px;
    height: auto;
    margin-right: 2px;
}

.info-corta {
    padding: 3% 2%;
    background-color: rgba(61, 61, 61, 0.336);
}

.info-corta p {
    font-size: 30px;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.726);
}

.guitarra {
    position: absolute;
    top: 1550px;
    left: 850px;
    width: 800px;
    height: auto;
    z-index: 10;
}