body{
    background-image: url('../imagenes/fondo1.png'); /*ruta a la imagen de fondo*/
    background-color: black; /*color de fondo de respaldo*/
    background-size: cover; /*ajusta la imagen para cubrir todo el fondo*/
    background-repeat: no-repeat; /*evita que la imagen se repita*/
    background-position: center; /*centra la imagen de fondo*/
}

.barra-de-navegacion{ /*estilos para la barra de navegación*/
    position: fixed; /*fija la barra en la parte superior*/
    top: 0; /*posiciona la barra en la parte superior*/
    width: 100%; /*ancho completo de la barra*/
    height: 20px;
}

nav{
    display: flex; 
    justify-content: flex-end; /*alinea los elementos al final del contenedor*/
    align-items: center; /*alinea los elementos verticalmente al centro*/
    padding: 10px 20px; 
    background-color: rgba(0, 0, 0, 0.253); 
    gap: 50px;
}

.logo-menu{ 
    margin-right: auto; 
}

.logo-menu img{ 
    width: 140px; 
    height: auto;
}
.menu{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 20px; 
}

.menu a{ 
    font-family:sans-serif; 
    font-size: 15px; 
    text-decoration: none;
    color: white; 
}

.menu-iconos{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 15px; 
}
 
.menu-iconos img{ 
    width: 23px; 
    height: 23px; 
}

.perfil-oyente-contenido{ 
    display: flex;
    flex-direction: column;
    margin-top: 0px; 
    align-items: center;
}

.perfil{ 
    display: flex; 
    align-items: center;
    gap: 40px;
    margin-top: 120px; 
}

.foto-perfil{ 
    width: 270px; 
    height: 270px; 
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin: 0; 
}
.info-perfil{ 
    font-family: sans-serif;
    color: white; 
    left: 100px; 
}

.info-perfil h1{ 
    margin: 0; 
    font-size: 40px; 
}

.info-perfil h2{
    margin: 5px 5px; 
    font-weight: normal; 
}

.estadisticas{ 
    font-family: sans-serif; 
    color: white; 
    display: flex;
    gap: 80px; 
    margin-top: 20px; 
}
    
.estadisticas p{
    color: rgba(255, 255, 255, 0.486); 
    margin: 0; 
    font-size: 20px; 
}

.descripcion{ 
    font-family: sans-serif; 
    font-size: 25px; 
    color: white;
    margin-top: 5px; 
    margin-right: 500px; 
}

.editar-perfil{ 
    margin-top: 30px;
    background-color: #61616171; 
    padding: 20px 350px; 
    border-radius: 20px;
    text-align: center; 
} 

.editar-perfil a{
    font-family: sans-serif;
    font-size: 30px; 
    text-decoration: none;
    color: white;
}

.invitacion-explorar{ 
    font-family: sans-serif; 
    font-size: 30px; 
    color: white;
    margin-top: 20px; 
    margin-left: 250px; 
}


.subir{ 
    width: 500px;
    height: auto;
    margin-top: 30px; /*espacio superior para separar el botón del resto del contenido*/
    margin-left: 400px;
    background-color: #a929ff71; /*olor de fondo del botón*/
    padding: 20px ; /*relleno interno del botón*/
    border-radius: 10px; /*bordes redondeados del botón*/
    text-align: center; /*centra el texto dentro del botón*/
}

.subir a{ /*estilos para el enlace dentro del botón de subir música*/
    font-family: sans-serif; /*fuente del texto del enlace*/
    font-size: 30px; /*tamaño del texto del enlace*/
    text-decoration: none; /*elimina el subrayado del enlace*/
    color: white; /*color del texto del enlace*/
}