/* ===== Fondo general ===== */
body {
    background-image: url('../imagenes/fondo1.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ===== Barra de navegación ===== */
.barra-de-navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.253);
    gap: 50px;
}

.logo-menu {
    margin-right: auto;
}

.logo-menu img {
    width: 140px;
    height: auto;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.menu-iconos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu-iconos img {
    width: 23px;
    height: 23px;
}

/* ===== Perfil ===== */
.perfil-oyente-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 40px;
}

.foto-perfil {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.info-perfil {
    font-family: sans-serif;
    color: white;
}

.info-perfil h1 {
    margin: 0;
    font-size: 40px;
}

.estadisticas {
    font-family: sans-serif;
    color: white;
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.estadisticas p {
    color: rgba(255, 255, 255, 0.486);
    margin: 0;
    font-size: 20px;
}

.descripcion {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    justify-content: center;
    margin-top: 20px;
}

/* ===== Botón Seguir ===== */
.subir {
    width: 60%;
    height: auto;
    margin-top: 30px;
    background-color: #a929ff71;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.subir a {
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

/* ===== Título "Mis canciones" ===== */
.invitacion-explorar {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 40px;
    text-align: center;
}

/* ===== Contenedor de canciones ===== */
.container-cancion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
}

.foto-cancion {
  width: 200px;
  height: auto;
}

.titulo-cancion {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.descripcion-cancion {
  font-size: 1.2rem;
  color: white;
}