body {
    background-image: url("../imagenes/fondo-principal.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url("../imagenes/nota.png") 8 8, auto;
}

.barra-de-navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.253);
    gap: 50px;
}

.logo-menu {
    margin-right: auto;
    width: 140px;
    height: auto;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu a {
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.bienvenida img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border-color: white;
    box-shadow: #ff399c4b 8px 8px 8px;
}

.bienvenida h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
}

.info-del-equipo {
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    background-color: #61616171;
    padding: 40px;
    margin-top: 30px;
    width: 80%;
}

.info-del-equipo p {
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

.info-del-equipo h2 {
    margin-top: 20px;
    font-size: 35px;
    color: white;
}

.contactos {
    margin-top: 20px;
    margin-left: 170px;
    display: flex;
}

.contactos p {
    font-size: 25px;
    color: white;
    margin-right: 30px;
}

.contactos a {
    color: #ff399c;
    text-decoration: none;
}
